<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>This will be replaced by fragment in head.html.</title>
</head>
<body>
<div align="center">
    <h1 id="game.title">Guess the number game.</h1>
    <h3 id="mainMessage">
        Main Message Here.
    </h3>
    <h3 id="resultMessage">
        Result Message Here.
    </h3>

    <form id="playMessage"  action="play" method="post">
        <label for="guess">
            Enter your guess.
        </label>
        <input id="guess" type="number" name="guess"/>
        <input type="submit" value="Submit">
    </form>

    <footer id="footer">
        <p>Footer goes here.</p>
    </footer>
</div>
</body>
</html>